{% extends 'base.html.twig' %}

{% block title %}Users Management{% endblock %}

{% block body %}
    {% include 'dashboard/sidebar.html.twig' %}
    <div class="p-4 sm:ml-64">  
        <div class="relative overflow-x-auto shadow-md sm:rounded-lg">
            {% if users is empty %}
                <div class="text-center py-8">
                    <p class="text-gray-500 text-lg">No users available.</p>
                </div>
            {% else %}
                <table class="w-full text-sm text-center text-gray-500">
                    <thead class="text-xs text-gray-700 uppercase bg-gray-50">
                        <tr>
                            <th scope="col" class="px-6 py-3">
                               User ID
                            </th>
                            <th scope="col" class="px-6 py-3">
                                Name
                            </th>
                            <th scope="col" class="px-6 py-3">
                                Email
                            </th>
                            <th scope="col" class="px-6 py-3">
                                Action
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for user in users %}
                            <tr class="bg-white border-b">
                                <th scope="row" class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap">
                                    {{ user.id }}
                                </th>
                                <td class="px-6 py-4">
                                    {{ user.name }}
                                </td>
                                <td class="px-6 py-4">
                                    {{ user.email }}
                                </td>
                                <td class="px-6 py-4 whitespace-nowrap">
                                    <a href="{{ path('admin_delete_user', {'id': user.id}) }}" class="font-medium text-blue-600 hover:underline">Delete</a>
                                </td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            {% endif %}
        </div>
    </div>
{% endblock %}
